anyio==3.6.2
asgiref==3.4.1
certifi==2024.2.2
cffi==1.15.1
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.5
contextlib2==21.6.0
contextvars==2.4
cryptography==40.0.2
dataclasses==0.6
fastapi==0.83.0
greenlet==2.0.2
h11==0.13.0
idna==3.6
immutables==0.19
importlib-metadata==4.8.3
numpy==1.19.5
pycparser==2.21
pydantic==1.9.2
PyMySQL==1.0.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.27.1
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.52
starlette==0.19.1
typing_extensions==4.6.0
urllib3==1.26.18
uvicorn==0.16.0
zipp==3.6.0
